# ==========================================
# ENTORNO DE EJECUCIÓN
# ==========================================
# Opciones: development | production | test
NODE_ENV=development

# ==========================================
# CONFIGURACIÓN DE RED TÁCTICA P2P (Libp2p)
# ==========================================
# Puerto de escucha TCP (0 = asignación dinámica automática)
P2P_LISTEN_PORT=0
# Intervalo de búsqueda de nodos locales (mDNS) en milisegundos
P2P_MDNS_INTERVAL=2000
# Nombre del canal principal de Gossipsub
P2P_TACTICAL_CHANNEL=batallon-girardot-main

# ==========================================
# SEGURIDAD Y CIFRADO E2EE
# ==========================================
# Especificar el algoritmo, NUNCA la llave real aquí
CRYPTO_ALGORITHM=aes-256-gcm
# La longitud requerida para el secreto local
SECRET_KEY_LENGTH=32

# ==========================================
# DEPURACIÓN (Solo Desarrollo)
# ==========================================
DEBUG=libp2p:gossipsub,*